---
    import { getCollection } from "astro:content";
    const posts = (await getCollection("blog"));
    const filteredPosts = posts.map((p) => p.data);
---

<search-blog data-posts={JSON.stringify(filteredPosts)}>
  <div class="mb-5">
    <div class="d-flex align-items-center mb-2">
      <img src="/img/search.png" height="16" width="16" class="me-2" alt="search bolty store">
      <p class="mb-0">Search</p>
    </div>
    <div>
      <input type="search" autocomplete="false" id="search" class="form-control" placeholder="Enter Product Code / Name">
    </div>
    <ul class="list-group mt-3" id="results">
    </ul>
  </div>
</search-blog>

<script>
    import Fuse from 'fuse.js';

    class SearchStore extends HTMLElement {
      constructor() {
        super();
        
        const storeData = JSON.parse(this.dataset.posts);
        console.log(storeData);

        const searchInput = document.getElementById('search');

        const fuseOptions = {
          threshold: 0.2,
          minMatchCharLength: 2,
          keys: [
            "title",
            "description",
            "content",
            "tags"
          ]
        };

        const fuse = new Fuse(storeData, fuseOptions);

        searchInput?.addEventListener('input', () => {
          const resultsBlock = document.getElementById('results');

          if (searchInput.value == "") {
            resultsBlock!.innerHTML = "";
            return;
          }

          const results = fuse.search(searchInput.value)

          console.log(results);

          if (results.length == 0) {
            resultsBlock!.innerHTML = `<li>No results</li>`;
            return;
          }

          let resultItems: string = "";

          results.forEach((r: any) => {
            resultItems = resultItems + `
              <li class="list-group-item d-flex flex-wrap align-items-center">
                <img src=${r.item.heroImage.url} alt=${r.item.heroImage.alt} width="128" class="me-3">
                <div>
                  <p>${r.item.title}</p>
                  <small>${r.item.description}</p>
                </div>
              </li>
            `;
          })

          resultsBlock!.innerHTML = resultItems;
        });
      }
    }

  customElements.define('search-blog', SearchStore);
</script>