---
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import DateFormatter from '../components/DateFormatter.astro';

type Props = CollectionEntry<'blog'>['data'];

const { title, description, publishedDate, updatedDate, heroImage, tags } = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
		<style>
			/* .title {
				font-size: 2em;
				margin: 0.25em 0 0;
			} */
			hr {
				border-top: 1px solid #ddd;
				margin: 1rem 0;
			}
		</style>
	</head>

	<body>
		<Header />
		<main>
			<article>
				{heroImage.url && <img width={'100%'} src={heroImage.url} alt="{heroImage.alt}" />}
				
        <div class="bg-primary text-white post-tile">
          <h1 class="mb-0 text-white">{title}</h1>
          <small>
            <DateFormatter date={updatedDate}></DateFormatter>
          </small>
        </div>
				
				<slot />

        <hr>

        <small>
          First published on <DateFormatter date={publishedDate}></DateFormatter>
        </small>

        <ul>
          {tags && tags.map((tag) => (
            <li>{tag}</li>
          ))}
        </ul>
			</article>
		</main>
		<Footer />
	</body>
</html>
