---
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import DateFormatter from '../components/DateFormatter.astro';

type Props = CollectionEntry<'blog'>['data'];

const { title, description, publishedDate, updatedDate, heroImage, tags } = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
    <link rel="apple-touch-icon" sizes="180x180" href="/favicons/v1/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicons/v1/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicons/v1/favicon-16x16.png">
    <link rel="manifest" href="/favicons/v1/site.webmanifest">
    <link rel="mask-icon" href="/favicons/v1/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/favicons/v1/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="/favicons/v1/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
		<style>
			/* .title {
				font-size: 2em;
				margin: 0.25em 0 0;
			} */
			hr {
				border-top: 1px solid #ddd;
				margin: 1rem 0;
			}
		</style>
	</head>

	<body>
		<Header />
		<main>
			<article>
				{heroImage.url && <img width={'100%'} src={heroImage.url} alt="{heroImage.alt}" />}
				
        <div class="bg-primary text-white post-tile">
          <h1 class="mb-0 text-white" style="margin-top: 4rem;">{title}</h1>
          <p class="mb-0 mt-0 text-white">
            <DateFormatter date={updatedDate}></DateFormatter>
          </p>
          {
            (publishedDate != updatedDate)
            && (
              <small>
                First published on <DateFormatter date={publishedDate}></DateFormatter>
              </small>
            )
          }
        </div>
				
				<slot />

        <!-- <ul>
          {tags && tags.map((tag) => (
            <li>{tag}</li>
          ))}
        </ul> -->
			</article>
		</main>
		<Footer />
	</body>
</html>
